<footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="container">
        &copy; @DateTime.Now.Year - <strong>BlogApp</strong> | <a asp-controller="Home" asp-action="Privacy" class="text-white">Gizlilik</a>
    </div>
</footer>
