@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container mt-5">
    <h1 class="text-center">Blog Yönetim Sistemine Hoş Geldin 💻</h1>
    <p class="text-center">Melike Gün tarafından yapılmaktadır 🧠</p>
</div>
